<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Enovents!</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet" />

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="dash/style.css" />

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <%- include('partials/header') %>

  <style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Montserrat-Bold";
    }

    p {
      color: #8f8f8f;
    }

    body {

      font-family: "Montserrat";
      text-align: center;

    }

    /* Headings */

    .big-heading {
      font-family: "Montserrat-Black";
      font-size: 3.5rem;
      line-height: 1.5;
    }

    .section-heading {
      font-size: 3rem;
      line-height: 1.5;
    }

    /* Containers */

    .container-fluid {
      padding: 7% 15%;
    }

    /* Sections */

    .colored-section {
      background-color: #ff4c68;
      color: #fff;
    }

    .white-section {
      background-color: #fff;
    }

    /* Navigation Bar */

    .navbar {
      padding: 0 0 4.5rem;
    }

    .navbar-brand {
      font-family: "Ubuntu";
      font-size: 2.5rem;
      font-weight: bold;
    }

    .nav-item {
      padding: 0 18px;
    }

    .nav-link {
      font-size: 1.2rem;
      font-family: "Montserrat-Light";
    }

    /* Buttons */

    .download-button {
      margin: 5% 3% 5% 0;
    }

    /* Title Section */

    #title {
      background-color: #ffa6d5;
      color: #fff;
      text-align: left;
    }

    #title .container-fluid {
      padding: 3% 15% 7%;
    }

    /* Title Image */

    .title-image {
      width: 100%;
      /* transform: rotate(25deg); */
      /* position: absolute; */
      /* right: 30%; */
      /* background-image: url("logo.png"); */
      background-repeat: no-repeat;
    }

    /* Features Section */

    #features {
      position: relative;
    }

    .feature-title {
      font-size: 1.5rem;
    }

    .feature-box {
      padding: 4.5%;
    }

    .icon {
      color: #ef8172;
      margin-bottom: 1rem;
    }

    .icon:hover {
      color: #ff4c68;
    }

    /* Testimonial Section */
    /* 
  #testimonials {
    background-color: #ef8172;
  }
  
  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  } */
    #xpad {
      margin-left: 65px;
      margin-right: 30px;
    }

    #press {
      background-color: #ef8172;
      padding-bottom: 3%;
    }

    .press-logo {
      width: 15%;
      margin: 20px 20px 50px;
    }

    /* Pricing Section */

    #pricing {
      padding: 100px;
    }

    .price-text {
      font-size: 3rem;
      line-height: 1.5;
      /* background-image: url("AddEvent.jpeg"); */
    }

    .price-image {
      background-image: url("AddEvent.jpeg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .price-image1 {
      background-image: url("AddAdmin.jpg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .pricing-column {
      padding: 3% 2%;
    }

    /* CTA Section */

    /* Footer Section */

    .social-icon {
      margin: 20px 10px;
    }

    @media (max-width: 1028px) {
      #title {
        text-align: center;
      }

      .title-image {
        position: static;
        transform: rotate(0);
      }
    }

    .__r {
      height: 250px;
      object-fit: contain;
    }

    .fillme {
      background-color: #696969;
    }
  </style>
</head>



<body>
  <div class="fillme">
    <hr><br>
    <h1>Ongoing Event</h1><br>
    <hr>
  </div>

  <div class="row ">
    <% on.forEach(ele=>{ %>
    <div class="card col-lg-3 col-md-5 col-sm-10" id="xpad">
      <div class="card-header dognames">
        <h4><%= ele.event_name %></h4>
      </div>
      <img class="__r" src=<%= ele.event_image_url %> />
      <div class="card-body">
        <div class="card-footer">
          <form action="/custom" method="POST">
            <button class="btn btn-outline-primary" type="submit" name="info" value=<%=ele._id %>>More info</button>
          </form>
        </div>
      </div>
    </div>
    <%})%>

  </div>
  <div class="fillme">
    <hr><br>
    <h1>Upcoming Event</h1><br>
    <hr>
  </div>

  <div class="row ">
    <% up.forEach(ele=>{ %>
    <div class="card col-lg-3 col-md-5 col-sm-10" id="xpad">
      <div class="card-header dognames">
        <h4><%= ele.event_name %></h4>
      </div>
      <img class="__r" src=<%= ele.event_image_url %> />
      <div class="card-body">
        <div class="card-footer">
          <form action="/custom" method="POST">
            <button class="btn btn-outline-primary" type="submit" name="info" value=<%=ele._id %>>More info</button>
          </form>
          <form action="/register" method="post">
            <button class="btn btn-outline-success" type="submit" name="info" value=<%=ele._id %>>Register</button>
          </form>
        </div>
      </div>
    </div>
    <%})%>

  </div>
  <div class="fillme">
    <hr><br>
    <h1>Missed Event</h1><br>
    <hr>
  </div>

  <div class="row ">
    <% miss.forEach(ele=>{ %>
    <div class="card col-lg-3 col-md-5 col-sm-10" id="xpad">
      <div class="card-header dognames">
        <h4><%= ele.event_name %></h4>
      </div>
      <img class="__r" width="340" height="200" src=<%= ele.event_image_url %> />
      <div class="card-body">
        <div class="card-footer">
          <form action="/custom" method="POST">
            <button class="btn btn-outline-primary" type="submit" name="info" value=<%=ele.id %>>More info</button>
          </form>
        </div>
      </div>
    </div>
    <%})%>

  </div>




</body>
<%- include('partials/footer') %>




</html>