<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Enovents!</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      * {
        box-sizing: border-box;
      }
      h2 {
        text-align: center;
      }

      input[type="text"],
      select,
      textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }

      input[type="submit"] {
        background-color: #04aa6d;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #2dc534;
      }

      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      }
      /* .button {
        background-color: #04aa6d;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 350px;
      } */

      .class_{
      
      
        object-fit: cover;
      }
    </style>
    <%- include('partials/header') %>
  </head>
  <body>
    <h1 style="display: block; text-align: center;"> <i> <%= ele.event_name %> </i> </h1> <hr> <br>

    <div class="container">
      <form action="/action_page.php">
        <h2></h2>
        <div style="text-align: center;"> <img class="centre_" src=<%= ele.event_image_url %>  /> </div><hr><br>
        

        <h2>Event Organiser: <%= ele. event_organizer %> </h2> <hr><br>

        <h4>Start date: <%= ele.start_date %> </h4> <hr><br>
        <h4>End date: <%= ele.end_date %> </h4><hr><br>

        <h3>Type: <%= ele.type%> </h3><hr><br>
        <h3>Email: <%= ele.event_mail %> </h3><hr><br>

        <h4>Event Description:</h4><hr><br>
        <h3><%= ele.event_description %> </h3><hr>
      </form>
      <!-- <button
        class="button"
        type="button"
        onclick="window.location.href='event_display.html'"
      >
        Register
      </button> -->
    </div>
    <%- include('partials/footer') %>
  </body>
</html>